ul {
  list-style: none;
  padding: 0;
}

body {
  text-align: center;
  margin: 0 auto;
}

body h1 img {
  border-radius: 50%;
  border: 3px solid black;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(83, 110, 230);
  display: flex;
  flex-direction: column;
}

h2 {
  border-bottom: 1px solid #000;
  margin-top: 64px;
}
